@{
    Layout = "_AdminLayout";
}
@model NanaFoodWeb.Models.Dto.ProductDto
<div id="wrapper">
    
    <!-- Main Content -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800">Edit Product</h1>
                <form id="editProductForm" asp-controller="Products" asp-action="Edit" method="post">
                    <input type="hidden" asp-for="ProductId" />
                    <div class="form-group">
                        <label asp-for="ProductName"></label>
                        <input asp-for="ProductName" class="form-control" id="productName" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CategoryId"></label>
                        <input asp-for="CategoryId" class="form-control" id="productCategory" />
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" id="productPrice" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ImageUrl"></label>
                        <input asp-for="ImageUrl" class="form-control" id="productImageUrl" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" id="productDescription"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="IsActive"></label>
                        <input asp-for="IsActive" class="form-check-input" type="checkbox" id="productIsActive" />
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>

                    <input type="hidden" asp-for="ProductId" id="productId" />

                    <button type="submit" class="btn btn-primary btn-lg px-4 mr-2">Edit</button>
                    <a href="@Url.Action("Index", "Products")" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>