@{
    Layout = "_AdminLayout";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
@{
    var currentPage = ViewData["currentPage"] as int? ?? 1;
    var totalPages = ViewData["totalPages"] as int? ?? 1;
    ViewData["title"] = "Danh sách sản phẩm";
}
@using Syncfusion.EJ2
@model NanaFoodWeb.Models.Dto.ViewModels.ProductVM

    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Danh sách sản phẩm</h1>
        <p>
        <a asp-action="Create" class="btn btn-outline-primary mb-3" asp-controller="Products">Thêm sản phẩm</a>
        </p>
        @Html.EJS().Grid("Grid").DataSource((IEnumerable<object>)ViewBag.lazyLoadData).Columns(col =>
            {
                // col.Field("Id").HeaderText("ID").Width("130").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).IsPrimaryKey(true).Add();
               // col.Field("ProductId").HeaderText("ID").Width("100").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("ProductName").HeaderText("Tên sản phẩm").Format("C2").Width("135").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("Price").HeaderText("Giá").Format("#,##").Width("135").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
                col.Field("Description").HeaderText("Mô tả").Format("C2").Width("135").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
                col.Field("IsActive").HeaderText("Trạng thái").Width("160").Template("#isActiveTemplate").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("Quantity").HeaderText("Số lượng").Format("#").Width("135").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                col.Field("ImageUrl").HeaderText("Hình Ảnh").Width("160").Template("#categoriesImgTemplate").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();


                col.Field("commands").HeaderText("Thao tác").Template("#commandTemplate").Width("200").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
            }).AllowPaging().PageSettings(page => page.PageCount(3).PageSizes(true).PageSize(10)).AllowSorting().AllowFiltering().FilterSettings(filter => { filter.Type(Syncfusion.EJ2.Grids.FilterType.Excel); }).Toolbar(new List<string>() { "Search" }).AllowResizing(false).AutoFit(false).Render()

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function isActiveStatusDetail(e) {
            var div = document.createElement('div');
            var h6 = document.createElement('h6'); // Tạo thẻ h5 để bọc thẻ span
            var span = document.createElement('span');
            if (e.IsActive === true) {
                span.className = 'badge bg-success rounded-3';
                span.textContent = 'Kích hoạt'
            }
            if (e.IsActive === false) {
                span.className = 'badge bg-secondary rounded-3';
                span.textContent = 'Vô hiệu'
            }

            h6.appendChild(span); // Đưa span vào bên trong thẻ h5
            div.appendChild(h6); // Đưa h6 vào bên trong div

            return div.outerHTML;
        }
    </script>

    <script type="text/x-jsrender" id="isActiveTemplate">
        ${isActiveStatusDetail(data)}
    </script>

    <script id="categoriesImgTemplate" type="text/x-template">
        <div class="image w-50">
            <img class="img-fluid d-block mx-auto rounded-3" src="${ImageUrl}" />
        </div>
    </script>

    @* <style>
        .btn.warning{
        padding: 10px 15px;
        background-color: #ffc107;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        }
        .btn:hover{
        background-color: #d19f08;
        }
        .btn.delete:hover{
        background-color: #bb1b2a;
        }
        .btn.info {
        padding: 10px 15px;
        background-color: #07a0f5;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        }

    .btn.info:hover {
            background-color: #0479bb;
    }

    </style> *@
    <script type="text/x-jsrender" id="commandTemplate">
    <a href="/Products/Edit/${ProductId}" class="btn btn-outline-warning mb-1 d-block"><i class="fa-regular fa-pen-to-square"></i> Chỉnh sửa</a>

    <a href="/Products/Delete/${ProductId}" class="btn btn-outline-danger mb-1 d-block"><i class="bi bi-trash"></i> Xóa</a>

    <a href="/Products/Details/${ProductId}" class="btn btn-outline-info mb-1 d-block"><i class="bi bi-info-circle"></i> Chi tiết</a>

    </script>
   
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
