@model StoreManagement.Models.Carts

<ul class="list-group mb-4">
    <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
            <h6 class="my-0">Tên Món Ăn</h6>
            @if (Model.CartDetails != null)
            {
                foreach (var itm in Model.CartDetails)
                {
                    <div class="row">
                        <div class="col-8">
                            <small class="text-muted">@itm.ItemName</small>
                        </div>
                        <div class="col-4">
                            <span class="text-muted text-right">@itm.Quantity * @itm.Price</span>
                        </div>
                    </div>
                }
            }
        </div>
    </li>
    <!-- Cart Items End -->
    <li class="list-group-item d-flex justify-content-between">
        <span>Thành Tiền (VND)</span>
        <strong>@Model.TotalMoney</strong>
    </li>
</ul>
