<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-warning">Liên Hệ</h1>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="h-100 rounded">
                        @* <iframe class="rounded w-100"
                                style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.991172855334!2d106.62558117485296!3d10.849867292262225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752929d2e0cfcb%3A0xeb3693cf1c46a28d!2sQTSC%209%20Building%2C%20%C4%90.%20T%C3%B4%20K%C3%BD%2C%20T%C3%A2n%20Ch%C3%A1nh%20Hi%E1%BB%87p%2C%20Qu%E1%BA%ADn%2012%2C%20H%E1%BB%93%20Ch%C3%AD%20Minh%2C%20Vi%E1%BB%87t%20Nam!5e0!3m2!1svi!2s!4v1696490977750!5m2!1svi!2s"
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> *@

                        <iframe class="rounded w-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d817.6404126294183!2d106.62622113329428!3d10.852711587747988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bee0b0ef9e5%3A0x5b4da59e47aa97a8!2zQ8O0bmcgVmnDqm4gUGjhuqduIE3hu4FtIFF1YW5nIFRydW5n!5e0!3m2!1svi!2s!4v1734336587753!5m2!1svi!2s" 
                        width="600" 
                        height="450" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-lg-7">
                    <form action="" class="">
                        <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="Nhập tên">
                        <input type="email" class="w-100 form-control border-0 py-3 mb-4" placeholder="Nhập Email">
                        <textarea class="w-100 form-control border-0 mb-4" rows="5" cols="10" placeholder="Bạn muốn nhắn gì"></textarea>
                        <button class="w-100 btn form-control border-secondary bg-white text-warning " type="submit">Gửi</button>
                    </form>
                </div>
                <div class="col-lg-5">
                    <div class="d-flex p-4 rounded mb-4 bg-white">
                        <i class="fas fa-map-marker-alt fa-2x text-warning me-4"></i>
                        <div>
                            <h4>Địa chỉ</h4>
                            <p class="mb-2">QTSC 9 Building, Đ. Tô Ký, Tân Chánh Hiệp, Quận 12, Hồ Chí Minh, Việt Nam</p>
                        </div>
                    </div>
                    <div class="d-flex p-4 rounded mb-4 bg-white">
                        <i class="fas fa-envelope fa-2x text-warning me-4"></i>
                        <div>
                            <h4>Email</h4>
                            <p class="mb-2">TrinhVanTruonga6a@gmail.com</p>
                        </div>
                    </div>
                    <div class="d-flex p-4 rounded bg-white">
                        <i class="fa fa-phone-alt fa-2x text-warning me-4"></i>
                        <div>
                            <h4>Số điện thoại</h4>
                            <p class="mb-2">+84 123456789 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>