@{
    ViewData["Title"] = "Discount";
    Layout = "_Layout";
}
<h4 class="text-center">Danh sách mã giảm giá</h4>
<hr />
<div class="container my-2">
    <div class="row">
        <!-- Mã Giảm Giá 1 -->
        <div class="col-md-4">
            <div class="card border-warning mb-4">
                <div class="card-header bg-warning text-center">
                    <h5 class=" text-dark">Mã Giảm Giá: FAST20</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">
                        Giảm 20% cho đơn hàng từ 100.000đ trở lên.
                    </p>
                    <p>Hạn sử dụng: 30/11/2024</p>
                    <button class="btn btn-warning"><i class="fas fa-copy"></i> Sao chép mã</button>
                </div>
            </div>
        </div>
        <!-- Mã Giảm Giá 1 -->
        <div class="col-md-4">
            <div class="card border-warning mb-4">
                <div class="card-header bg-warning text-center">
                    <h5 class=" text-dark">Mã Giảm Giá: FAST20</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">
                        Giảm 20% cho đơn hàng từ 100.000đ trở lên.
                    </p>
                    <p>Hạn sử dụng: 30/11/2024</p>
                    <button class="btn btn-warning"><i class="fas fa-copy"></i> Sao chép mã</button>
                </div>
            </div>
        </div>
        <!-- Mã Giảm Giá 1 -->
        <div class="col-md-4">
            <div class="card border-warning mb-4">
                <div class="card-header bg-warning text-center">
                    <h5 class=" text-dark">Mã Giảm Giá: FAST20</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">
                        Giảm 20% cho đơn hàng từ 100.000đ trở lên.
                    </p>
                    <p>Hạn sử dụng: 30/11/2024</p>
                    <button class="btn btn-warning"><i class="fas fa-copy"></i> Sao chép mã</button>
                </div>
            </div>
        </div>
        <!-- Mã Giảm Giá 1 -->
        <div class="col-md-4">
            <div class="card border-warning mb-4">
                <div class="card-header bg-warning text-center">
                    <h5 class=" text-dark">Mã Giảm Giá: FAST20</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">
                        Giảm 20% cho đơn hàng từ 100.000đ trở lên.
                    </p>
                    <p>Hạn sử dụng: 30/11/2024</p>
                    <button class="btn btn-warning"><i class="fas fa-copy"></i> Sao chép mã</button>
                </div>
            </div>
        </div>
        <!-- Mã Giảm Giá 1 -->
        <div class="col-md-4">
            <div class="card border-warning mb-4">
                <div class="card-header bg-warning text-center">
                    <h5 class=" text-dark">Mã Giảm Giá: FAST20</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">
                        Giảm 20% cho đơn hàng từ 100.000đ trở lên.
                    </p>
                    <p>Hạn sử dụng: 30/11/2024</p>
                    <button class="btn btn-warning"><i class="fas fa-copy"></i> Sao chép mã</button>
                </div>
            </div>
        </div>
        <!-- Mã Giảm Giá 1 -->
        <div class="col-md-4">
            <div class="card border-warning mb-4">
                <div class="card-header bg-warning text-center">
                    <h5 class=" text-dark">Mã Giảm Giá: FAST20</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">
                        Giảm 20% cho đơn hàng từ 100.000đ trở lên.
                    </p>
                    <p>Hạn sử dụng: 30/11/2024</p>
                    <button class="btn btn-warning"><i class="fas fa-copy"></i> Sao chép mã</button>
                </div>
            </div>
        </div>
        <!-- Mã Giảm Giá 1 -->
        <div class="col-md-4">
            <div class="card border-warning mb-4">
                <div class="card-header bg-warning text-center">
                    <h5 class=" text-dark">Mã Giảm Giá: FAST20</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">
                        Giảm 20% cho đơn hàng từ 100.000đ trở lên.
                    </p>
                    <p>Hạn sử dụng: 30/11/2024</p>
                    <button class="btn btn-warning"><i class="fas fa-copy"></i> Sao chép mã</button>
                </div>
            </div>
        </div>
        <!-- Mã Giảm Giá 1 -->
        <div class="col-md-4">
            <div class="card border-warning mb-4">
                <div class="card-header bg-warning text-center">
                    <h5 class=" text-dark">Mã Giảm Giá: FAST20</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">
                        Giảm 20% cho đơn hàng từ 100.000đ trở lên.
                    </p>
                    <p>Hạn sử dụng: 30/11/2024</p>
                    <button class="btn btn-warning"><i class="fas fa-copy"></i> Sao chép mã</button>
                </div>
            </div>
        </div>
        <!-- Mã Giảm Giá 1 -->
        <div class="col-md-4">
            <div class="card border-warning mb-4">
                <div class="card-header bg-warning text-center">
                    <h5 class=" text-dark">Mã Giảm Giá: FAST20</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">
                        Giảm 20% cho đơn hàng từ 100.000đ trở lên.
                    </p>
                    <p>Hạn sử dụng: 30/11/2024</p>
                    <button class="btn btn-warning"><i class="fas fa-copy"></i> Sao chép mã</button>
                </div>
            </div>
        </div>
        <!-- Mã Giảm Giá 1 -->
        <div class="col-md-4">
            <div class="card border-warning mb-4">
                <div class="card-header bg-warning text-center">
                    <h5 class=" text-dark">Mã Giảm Giá: FAST20</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">
                        Giảm 20% cho đơn hàng từ 100.000đ trở lên.
                    </p>
                    <p>Hạn sử dụng: 30/11/2024</p>
                    <button class="btn btn-warning"><i class="fas fa-copy"></i> Sao chép mã</button>
                </div>
            </div>
        </div>
        <!-- Mã Giảm Giá 1 -->
        <div class="col-md-4">
            <div class="card border-warning mb-4">
                <div class="card-header bg-warning text-center">
                    <h5 class=" text-dark">Mã Giảm Giá: FAST20</h5>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">
                        Giảm 20% cho đơn hàng từ 100.000đ trở lên.
                    </p>
                    <p>Hạn sử dụng: 30/11/2024</p>
                    <button class="btn btn-warning"><i class="fas fa-copy"></i> Sao chép mã</button>
                </div>
            </div>
        </div>
    </div>
</div>

