@model NanaFoodWeb.Models.Dto.ViewModels.ProductVM

@{
    Layout = "ListProduct";
    var currentPage = ViewData["currentPage"] as int? ?? 1;
    var totalPages = ViewData["totalPages"] as int? ?? 1;
}
@await Html.PartialAsync("_ShowProduct")
<div class="custom-pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (currentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Filter" asp-route-sort=@TempData["Filter"] asp-route-page=@(currentPage - 1) aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (var i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" asp-action="Filter" asp-route-sort=@TempData["Filter"] asp-route-page=@i>
                        @i
                    </a>
                </li>
            }

            @if (currentPage < totalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Filter" asp-route-sort=@TempData["Filter"] asp-route-page=@(currentPage + 1) aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
<style>
    .custom-pagination .pagination {
        display: flex;
        justify-content: center;
    }

</style>