<div class="min-vh-100 d-flex flex-column align-items-center justify-content-center text-primary-foreground">
    <img src="https://media.istockphoto.com/id/1355858742/vector/robot-error-404-concept.jpg?s=612x612&w=0&k=20&c=04qQhOyGLu6dOmqL9yAx5nUZ7c3dlFngioVG8GUHM3k=" alt="404 Not Found" class="mb-4" style="width : 300px; height : 300px;"/>
    <h1 class="display-4 fw-bold mb-3">Oops! Trang không tồn tại</h1>
    <p class="lead text-center mb-4">
        Trang mà bạn tìm kiếm đã bị xoá hoặc không tồn tại. Hãy kiểm tra đường dẫn và thử lại. <br />Nếu bạn cho rằng đây là lỗi, Hãy liên hệ với chúng tôi qua <strong>085xxxxxxx</strong>.
    </p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary rounded-pill px-4 py-2 fw-bold text-uppercase text-decoration-none transition duration-300 hover-opacity-80">Go back to Home</a>
</div>