@{
    ViewData["title"] = "View Order";
}
@model NanaFoodWeb.Models.Order
<div class=" container">
    <div class="d-flex align-content-center">
        <div class="card box-shadow-edit">
            <div class="card-body row">
                <div class="mb-2 col-6">
                    <label asp-for="OrderId"></label>
                    <input asp-for="OrderId" class="form-control" readonly />
                </div>
                <div class="mb-2 col-6">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control" readonly />
                </div>
                <div class="mb-2">
                    <label asp-for="Address"></label>
                    <textarea rows="3" asp-for="Address" class="form-control" readonly></textarea>
                </div>
                <div class="mb-2 col-6">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" readonly />
                </div>
                <div class="mb-2 col-6">
                    <label asp-for="PaymentType"></label>
                    <input asp-for="PaymentType" class="form-control" readonly />
                </div>
                <div class="mb-2 col-6">
                    <label asp-for="PaymentStatus"></label>
                    <input asp-for="PaymentStatus" class="form-control" readonly />
                </div>
                <div class="mb-2 col-6">
                    <label asp-for="OrderDate"></label>
                    <input asp-for="OrderDate" class="form-control" readonly />
                </div>
                <div class="mb-2">
                    <label asp-for="OrderStatus"></label>
                    <input asp-for="OrderStatus" class="form-control" readonly />
                </div>
                <div class="mb-2">
                    <label asp-for="Note"></label>
                    <input asp-for="Note" class="form-control" readonly />
                </div>
                <a asp-action="Order" asp-controller="Auth" class="btn btn-info col-auto mx-3">Go back</a>
                <a asp-action="OrderDetail" asp-controller="Order" asp-route-id="@Model.OrderId" class="btn btn-warning col-auto mx-3">View food order</a>
                @if (Model.OrderStatus != "Đang huỷ đơn" && Model.PaymentStatus == "Chưa thanh toán")
                {
                    <a asp-action="Cancel" asp-controller="Order" asp-route-id="@Model.OrderId" class="btn btn-primary col-auto">Cancel order</a>
                }
            </div>
        </div>
    </div>
</div>