@{
    Layout = "_AdminLayout";
}
@model NanaFoodWeb.Models.Dto.ViewModels.CouponVM
@using Syncfusion.EJ2
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .table tbody tr:hover {
            background-color: #dbb785;
        }

        .btn {
            transition: background-color 0.3s ease;
        }

            .btn:hover {
                background-color: #69cfb7;
            }
    </style>
    <div id="wrapper">

        <!-- Main Content -->
        <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800">Danh sách mã giảm giá</h1>
                <p>
                    <a asp-action="Create" class="btn btn-primary mb-3" asp-controller="Coupons">Thêm mới</a>
                </p>
                @Html.EJS().Grid("Grid").DataSource((IEnumerable<object>)ViewBag.lazyLoadData).Columns(col =>
                    {
                        col.Field("CouponCode").HeaderText("Mã giảm giá").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                        col.Field("Discount").HeaderText("Giá giảm").Format("#,##").Width("135").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
                        col.Field("MinAmount").HeaderText("Số tiền tối thiểu").Format("#,##").Width("135").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
                        col.Field("CouponStartDate").HeaderText("Ngày bắt đầu").Format("dd/MM/yyyy").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                        col.Field("EndStart").HeaderText("Ngày kết thúc").Format("dd/MM/yyyy").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                        col.Field("MaxUsage").HeaderText("Lượt sử dụng tối đa").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                        col.Field("TimesUsed").HeaderText("Lượt đã dùng").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                        col.Field("Description").HeaderText("Mô tả").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                        col.Field("Status").HeaderText("Trạng thái").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                            
                        col.Field("commands").HeaderText("Thao tác").Template("#commandTemplate").Width("200").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                }).AllowPaging().PageSettings(page => page.PageCount(3).PageSizes(true).PageSize(10)).AllowSorting().AllowFiltering().FilterSettings(filter => { filter.Type(Syncfusion.EJ2.Grids.FilterType.Excel); }).Toolbar(new List<string>() { "Search" }).AllowResizing(false).AutoFit(false).Render()

            </div>
        </div>
        </div>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>

<script type="text/javascript">
    function isActiveStatusDetail(e) {
        var div = document.createElement('div');
        var h6 = document.createElement('h6'); // Tạo thẻ h5 để bọc thẻ span
        var span = document.createElement('span');
        if (e.IsActive === true) {
            span.className = 'badge bg-success rounded-3';
            span.textContent = 'Kích hoạt'
        }
        if (e.IsActive === false) {
            span.className = 'badge bg-secondary rounded-3';
            span.textContent = 'Vô hiệu'
        }

        h6.appendChild(span); // Đưa span vào bên trong thẻ h5
        div.appendChild(h6); // Đưa h6 vào bên trong div

        return div.outerHTML;
    }
</script>
<script type="text/x-jsrender" id="commandTemplate">

    <a href="/Products/Edit/${ProductId}" class="btn btn-outline-warning mb-1 d-block"><i class="fa-regular fa-pen-to-square"></i> Chỉnh sửa</a>

    <a href="/Products/Delete/${ProductId}" class="btn btn-outline-danger mb-1 d-block"><i class="bi bi-trash"></i> Xóa</a>

    <a href="/Products/Details/${ProductId}" class="btn btn-outline-info mb-1 d-block"><i class="bi bi-info-circle"></i> Chi tiết</a>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
