<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Coupons</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .table tbody tr:hover {
            background-color: #dbb785;
        }

        .btn {
            transition: background-color 0.3s ease;
        }

            .btn:hover {
                background-color: #69cfb7;
            }
    </style>
</head>

<body id="page-top">
    <div id="wrapper">

        <!-- Main Content -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <h1 class="h3 mb-4 text-gray-800">Coupon List</h1>
                    @* <a href="add-coupon.html" class="btn btn-primary mb-3">Add Coupon</a> *@
                    <p>
                        <a asp-action="Create" class="btn btn-primary mb-3" asp-controller="Coupon">Add Coupon</a>
                    </p>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Coupons</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Coupon Code</th>
                                            <th>Discount (%)</th>
                                            <th>Minimum Amount</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>SUMMER20</td>
                                            <td>20%</td>
                                            <td>$100.00</td>
                                            <td>
                                                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Coupon" asp-route-id="1">Edit</a>
                                                <a class="btn btn-warning btn-sm" asp-action="Details" asp-controller="Coupon" asp-route-id="1">Details</a>
                                                <button class="btn btn-danger btn-sm" onclick="deleteCoupon(1)">Delete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>FALL15</td>
                                            <td>15%</td>
                                            <td>$50.00</td>
                                            <td>
                                                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Coupon" asp-route-id="2">Edit</a>
                                                <a class="btn btn-warning btn-sm" asp-action="Details" asp-controller="Coupon" asp-route-id="2">Details</a>
                                                <button class="btn btn-danger btn-sm" onclick="deleteCoupon(2)">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>

    <script>
        function deleteCoupon(id) {
            if (confirm("Are you sure you want to delete this coupon?")) {
                alert("Coupon " + id + " deleted.");
            }
        }
    </script>
</body>
</html>
