@model StoreManagement.Models.Orders

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid page-header py-5">
</div>
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="GuestId" class="control-label"></label>
                            <input asp-for="GuestId" class="form-control" />
                            <span asp-validation-for="GuestId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OrderDate" class="control-label"></label>
                            <input asp-for="OrderDate" class="form-control" />
                            <span asp-validation-for="OrderDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalAmount" class="control-label"></label>
                            <input asp-for="TotalAmount" class="form-control" />
                            <span asp-validation-for="TotalAmount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OrderStatus" class="control-label"></label>
                            <input asp-for="OrderStatus" class="form-control" />
                            <span asp-validation-for="OrderStatus" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PaymentMethod" class="control-label"></label>
                            <input asp-for="PaymentMethod" class="form-control" />
                            <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                        </div>

                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Active" checked /> @Html.DisplayNameFor(model => model.Active)
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="row g-4">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
