@{
    var isAdmin = User.IsInRole("admin");
    var isEmployee = User.IsInRole("employee");
    string controller = "Home";
    string action = "Index";
    if (isAdmin || isEmployee)
    {
        Layout = "_AdminLayout";
        controller = "DashBoard";
    }
}

<style>
    body-section {
    }

    h1 {
        color: #dc3545;
        font-size: 3em;
    }

    p {
        font-size: 1.2em;
    }

    a {
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

    <div class="container text-center">
    <img src="https://i.etsystatic.com/48106844/r/il/ed6449/5714780511/il_570xN.5714780511_kbzc.jpg" style="max-width: 12rem; margin-top: 1%; position: relative; left: 2px; top: -42px;" />
    </div>
<div class="container text-center" style="position: relative; left: 0px; top: -85px;">
    <h1>403 - Từ chối truy cập</h1>
    <p>Xin lỗi, bạn không có quyền truy cập vào trang này.</p>
    <p>Vui lòng hoặc liên hệ với bộ phận hỗ trợ nếu bạn tin rằng đây là lỗi.</p>
    <a asp-controller="@controller" asp-action="@action" class="btn btn-primary">Về Trang Chủ</a>
</div>
     