@{
    ViewData["Title"] = "Xác nhận khôi phục";
}

<h2>Đã khôi phục mật khẩu mới</h2>

<p>Mật khẩu mới đã được gửi vào email. Vui lòng kiểm tra hộp thư của bạn để hoàn tất quá trình khôi phục mật khẩu.</p>

<a href="@Url.Action("Login", "Auth")" class="btn btn-warning">Quay lại trang Đăng nhập</a>
