
@{
    Layout = "_Dashboard";
}
<div>
<ul class="box-info">
    <a asp-action="Index" asp-controller="Products" class="text-decoration-none">
    <li>

            <i class='bx bxl-product-hunt'></i>
            <span class="text">
                <h3>@ViewBag.ProductCount</h3>
                <p>Sản Phẩm</p>
            </span>
       
    </li>
    </a>
    <a asp-action="Index" asp-controller="Users" class="text-decoration-none">
    <li>
        <i class='bx bxs-group'></i>
        <span class="text">
            <h3>@ViewBag.UserCount</h3>
            <p>Khách hàng</p>
        </span>
    </li>
    </a>
    <a asp-action="Index" asp-controller="Categories" class="text-decoration-none">
    <li>
        <i class='bx bxs-category'></i>
        <span class="text">
            <h3>@ViewBag.CategoryCount</h3>
            <p>Danh mục</p>
        </span>
    </li>
    </a>
</ul>
<div class="data">
    <div class="content-data">
        <div class="head">
            <h3>Dữ liệu đầu vào tháng 6</h3>
            <div class="menu dropdown">
                <i class='bx bx-dots-horizontal-rounded icon ' id="dropdownMenuButton"
                   data-bs-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Edit</a></li>
                    <li><a class="dropdown-item" href="#">Save</a></li>
                    <li><a class="dropdown-item" href="#">Remove</a></li>
                </ul>
            </div>
        </div>
        <div class="chart">
            <div id="chart1"></div>
        </div>
    </div>

</div>
            </div>