

<div class="container-fluid page-header py-5"></div>
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-lg-12">
                        <form asp-action="Login" asp-controller="Login" method="get">
                            <!-- <label for="chk" aria-hidden="true">Login</label> -->
                            <label for="chk" aria-hidden="true">Đăng Nhập</label>

                            <div class="col-md-12">
                                <input class="form-control" type="text" id="userName" name="userName" placeholder="UserName" required="Không được bỏ trống">
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" type="password" id="pswd" name="passWord" placeholder="PassWord" required="Không được bỏ trống">
                            </div>
                            <div class="col-md-12">
                                <button type="submit">Đăng Nhập</button>

                            </div>
                            

                        </form>
                    </div>
                    
                </div>
                <div class="row g-4">
                    <div class="col-lg-12">
                        <a asp-action="LoginGg" asp-controller="Login">login With Google</a> |
                        <a data-toggle="modal" data-target="#myModal">Register</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Đăng ký</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    
                    <div class="col-md-12 order-md-1">
                        <form name="myForm" asp-action="Register" asp-controller="Login" method="post">
                            <div class="row">
                               
                                <div class="col-md-12">
                                    <label for="kh_ten">UserName</label>
                                    
                                    <input class="form-control" id="usernamelogin" type="text" name="userName" placeholder="User name" required>

                                </div>
                                <div class="col-md-12">
                                    <label for="kh_ten">Họ và tên</label>
                                    <input class="form-control" id="fullName" type="text" name="fullname" placeholder="Full Name" required>

                                </div>
                                <div class="col-md-12">
                                    <label for="kh_gioitinh">Giới Tính</label> <br>
                                    <input type="radio" id="male" name="sex" value="True" checked> <!-- Male -->
                                    <label for="male">Nam</label>
                                    <input type="radio" id="female" name="sex" value="False"> <!-- Female -->
                                    <label for="female">Nữ</label>
                                    @* <input type="text" class="form-control" name="kh_gioitinh" id="kh_gioitinh" value="@Cust.Sex" > *@
                                </div>
                                <div class="col-md-12">
                                    <label for="kh_diachi">Địa Chỉ</label>
                                    <input id="address" type="text" class="form-control" name="address" placeholder="Address" required>
                                </div>
                                <div class="col-md-12">
                                    <label for="kh_dienthoai">Số Điện Thoại</label>
                                    <input id="tel" class="form-control" type="tel" name="usrtel" placeholder="PhoneNumber" required>
                                </div>
                                <div class="col-md-12">
                                    <label for="kh_email">Email</label>
                                    <input class="form-control" id="email" type="email" name="email" placeholder="Email" required>
                                </div>
                                <div class="col-md-12">
                                    <label for="kh_password">Mậ khẩu</label>
                                    <input class="form-control" id="pass" type="passWord" name="passWord" placeholder="Password" required>

                                </div>
                            </div>
                            @*<p ng-show="myForm.email.$invalid">Nhập Email</p>*@
                            

                            <button type="submit" id="btnSignUp">Đăng Ký</button>
                            @* <button class="btn btn-primary" href="signin-google">Đăng Nhập Với Google</button> *@
                            <!-- <button id="btnSignUp">Sign up</button>  -->
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>