<div id="wrapper">

    <!-- Main Content -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800">Edit Category</h1>
                <form id="editCategoryForm">
                    <div class="form-group">
                        <label for="categoryId">Category ID</label>
                        <input type="text" class="form-control" id="categoryId" value="1" readonly>
                    </div>
                    <div class="form-group">
                        <label for="categoryName">Category Name</label>
                        <input type="text" class="form-control" id="categoryName" value="Category 1" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a href="@Url.Action("Index", "Categories")" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>

<script>

    $('#editCategoryForm').on('submit', function (e) {
        e.preventDefault();
        const categoryId = $('#categoryId').val();
        const categoryName = $('#categoryName').val();

        alert('Category updated: ' + categoryId + ', ' + categoryName);

        window.location.href = 'categories.html';
    });
</script>