<!-- orderhistory -->
<link rel="stylesheet" href="css/orderhistory/bootstrap/css/bootstrap.min.css">
<link href="css/orderhistory/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="js/orderhistory/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="js/orderhistory/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="css/orderhistory/themecss/lib.css" rel="stylesheet">
<link href="js/orderhistory/jquery-ui/jquery-ui.min.css" rel="stylesheet">
<link href="js/orderhistory/minicolors/miniColors.css" rel="stylesheet">
<link href="css/orderhistory/themecss/so_searchpro.css" rel="stylesheet">
<link href="css/orderhistory/themecss/so_megamenu.css" rel="stylesheet">
<link href="css/orderhistory/themecss/so-categories.css" rel="stylesheet">
<link href="css/orderhistory/themecss/so-listing-tabs.css" rel="stylesheet">
<link href="css/orderhistory/themecss/so-newletter-popup.css" rel="stylesheet">
<link href="css/orderhistory/footer/footer1.css" rel="stylesheet">
<link href="css/orderhistory/header/header1.css" rel="stylesheet">
<link id="color_scheme" href="css/orderhistory/theme.css" rel="stylesheet">
<link href="css/orderhistory/responsive.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700' rel='stylesheet'
      type='text/css'>
<!-- oderhistory -->
<script type="text/javascript" src="js/orderhistory/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js/orderhistory/bootstrap.min.js"></script>
<script type="text/javascript" src="js/orderhistory/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js/orderhistory/themejs/libs.js"></script>
<script type="text/javascript" src="js/orderhistory/unveil/jquery.unveil.js"></script>
<script type="text/javascript" src="js/orderhistory/countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="js/orderhistory/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
<script type="text/javascript" src="js/orderhistory/datetimepicker/moment.js"></script>
<script type="text/javascript" src="js/orderhistory/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="js/orderhistory/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/orderhistory/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="js/orderhistory/themejs/addtocart.js"></script>
<script type="text/javascript" src="js/orderhistory/themejs/application.js"></script>

@{
    Layout = "_Layout";

}

<div class="row">

    <div id="content" class="col-sm-9">
        <h2 class="title">Order History</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td class="text-center">Hình ảnh</td>
                        <td class="text-left">Sản Phẩm</td>
                        <td class="text-center">Mã đơn hàng</td>
                        <td class="text-center">Số lượng</td>
                        <td class="text-center">Trạng thái</td>
                        <td class="text-center">Ngày đặt</td>
                        <td class="text-right">Tổng</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <a href="product.html">
                                <img width="85" class="img-thumbnail"
                                     title="Khoai Tây Chiên" alt="Khoai Tây Chiên"
                                     src="image/catalog/demo/product/funiture/1.jpg">
                            </a>
                        </td>
                        <td class="text-left">
                            <a href="product.html">Khoai Tây Chiên</a>
                        </td>
                        <td class="text-center">#214521</td>
                        <td class="text-center">1</td>
                        <td class="text-center">Shipped</td>
                        <td class="text-center">18/10/2024</td>
                        <td class="text-right">$228.00</td>
                        <td class="text-center">
                            <a class="btn btn-info" title="" data-toggle="tooltip"
                               href="order-information.html" data-original-title="View">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <a href="product.html">
                                <img width="85" class="img-thumbnail"
                                     title="Gà Rán"
                                     alt="Gà Rán"
                                     src="image/catalog/demo/product/funiture/4.jpg">
                            </a>
                        </td>
                        <td class="text-left">
                            <a href="product.html">Gà Rán</a>
                        </td>
                        <td class="text-center">#1565245</td>
                        <td class="text-center">1</td>
                        <td class="text-center">Shipped</td>
                        <td class="text-center">20/10/2024</td>
                        <td class="text-right">$133.20</td>
                        <td class="text-center">
                            <a class="btn btn-info" title="" data-toggle="tooltip"
                               href="order-information.html" data-original-title="View">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <a href="product.html">
                                <img width="85" class="img-thumbnail"
                                     title="Mỳ Ý"
                                     alt="Mỳ Ý"
                                     src="image/catalog/demo/product/funiture/4.jpg">
                            </a>
                        </td>
                        <td class="text-left">
                            <a href="product.html">Mỳ Ý</a>
                        </td>
                        <td class="text-center">#1000245</td>
                        <td class="text-center">1</td>
                        <td class="text-center">Shipped</td>
                        <td class="text-center">22/10/2024</td>
                        <td class="text-right">$103.20</td>
                        <td class="text-center">
                            <a class="btn btn-info" title="" data-toggle="tooltip"
                               href="order-information.html" data-original-title="View">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <aside class="col-sm-3 hidden-xs" id="column-right">
        <h2 class="subtitle">Account</h2>
        <div class="list-group">
            <ul class="list-item">
                <li>
                    <a href="login.html">Đăng Nhập</a>
                </li>
                <li>
                    <a href="register.html">Đăng Ký</a>
                </li>
                <li>
                    <a href="#">Quên Mật Khẩu</a>
                </li>
                <li>
                    <a href="#">Tài Khoản Của Tôi</a>
                </li>
                <li>
                    <a href="#">Địa Chỉ Nhận Hàng</a>
                </li>
                <li>
                    <a href="#">Lịch Sử Đơn Hàng</a>
                </li>
            </ul>
        </div>
    </aside>
</div>