@model string
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>



<div class="container-fluid page-header py-5">
</div>
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <h1>An error occurred</h1>
                    @if (!string.IsNullOrEmpty(Model))
                    {
                        <p>Error message: @Model</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>