@using Syncfusion.EJ2
@{
    Layout = "_AdminLayout";
}


<div class="col-lg-12 control-section">
    <div class="mt-2 mb-2">
        <a asp-controller="Users" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Tạo người dùng mới</a>
    </div>
    <div class="control-wrapper">
        <div class="control-section">
            @Html.EJS().Grid("Grid").DataSource((IEnumerable<object>)ViewBag.lazyLoadData).Columns(col =>
                     {
                         // col.Field("Id").HeaderText("ID").Width("130").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).IsPrimaryKey(true).Add();
                         col.Field("AvatarUrl").HeaderText("Hình ảnh").Template("#template1").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                         col.Field("FullName").HeaderText("Họ tên").Format("C2").Width("135").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                         col.Field("UserName").HeaderText("Tên đăng nhập").Format("C2").Width("135").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
                         col.Field("Status").HeaderText("Trạng thái").Width("160").Template("#userStatusTemplate").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                         col.Field("PhoneNumber").HeaderText("Số điện").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                         col.Field("Address").HeaderText("Địa chỉ").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                         col.Field("Email").HeaderText("Email").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                         col.Field("EmailConfirmed").HeaderText("Xác thực email").Width("160").Template("#emailConfirmedTemplate").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                         col.Field("Roles").HeaderText("Vai trò").Width("160").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();
                         

                         col.Field("commands").HeaderText("Thao tác").Template("#commandTemplate").Width("200").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Add();

                     }).AllowPaging().PageSettings(page => page.PageCount(3).PageSizes(true).PageSize(10)).AllowSorting().AllowFiltering().FilterSettings(filter => { filter.Type(Syncfusion.EJ2.Grids.FilterType.Excel); }).Toolbar(new List<string>() { "Search" }).AllowResizing(false).AutoFit(false).Render()
        </div>
    </div>
</div>

<style>

    .statustemp.e-notavailablecolor {
        background-color: #6c757d; /* Màu secondary của Bootstrap */
        width: 100px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .statustemp.e-availablecolor {
        background-color: #28a745; /* Màu success của Bootstrap */
        width: 100px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .statustxt.e-availablecolor {
        color: white;
    }

    .statustxt.e-notavailablecolor {
        color: white;
    }

    .statustemp {
        position: relative;
        height: 19px;
        text-align: center;
        border-radius: 5px; /* Bo tròn góc */
    }

</style>


<script type="text/javascript">
    function emailConfirmedDetail(e) {
        var div = document.createElement('div');
        var h6 = document.createElement('h6'); // Tạo thẻ h5 để bọc thẻ span
        var span = document.createElement('span');
        if (e.EmailConfirmed === true) {
            span.className = 'badge bg-success rounded-3';
            span.textContent = 'Kích hoạt'
        }
        if (e.EmailConfirmed === false) {
            span.className = 'badge bg-secondary rounded-3';
            span.textContent = 'Vô hiệu'
        }

        h6.appendChild(span); // Đưa span vào bên trong thẻ h5
        div.appendChild(h6); // Đưa h6 vào bên trong div

        return div.outerHTML;
    }

    function userStatusDetail(e) {
        var div = document.createElement('div');
        var h6 = document.createElement('h6'); // Tạo thẻ h6 để bọc thẻ span
        var span = document.createElement('span');

        switch (e.Status) {
            case 0: // Active
                span.className = 'badge bg-success rounded-3'; // Active - success
                span.textContent = 'Hoạt động';
                break;
            case 1: // Inactive
                span.className = 'badge bg-secondary rounded-3'; // Inactive - secondary
                span.textContent = 'Ngưng hoạt động';
                break;
            case 2: // Delete
                span.className = 'badge bg-danger rounded-3'; // Delete - danger
                span.textContent = 'Đã xóa';
                break;
            case 3: // Block
                span.className = 'badge bg-warning rounded-3'; // Block - warning
                span.textContent = 'Đình chỉ';
                break;
            default:
                span.className = 'badge bg-secondary rounded-3'; // Default if no matching status
                span.textContent = 'Không xác định';
                break;
        }

        h6.appendChild(span); // Đưa span vào bên trong thẻ h5
        div.appendChild(h6); // Đưa h5 vào bên trong div

        return div.outerHTML;
    }
</script>

<script type="text/x-jsrender" id="emailConfirmedTemplate">
    ${emailConfirmedDetail(data)}
</script>

<script type="text/x-jsrender" id="userStatusTemplate">
    ${userStatusDetail(data)}
</script>

<script type="text/x-jsrender" id="commandTemplate">

    <a href="/Users/Edit/${Id}" class="btn btn-warning mb-1 d-block"><i class="bi bi-wrench-adjustable"></i> Chỉnh sửa</a>

    @* <button type="button" class="btn btn-danger mb-1 d-block form-control" data-bs-toggle="modal" data-bs-target="#deleteUserModal-${UserName}">
        <i class="bi bi-trash"></i> Xóa
    </button>

    <div class="modal fade" id="deleteUserModal-${UserName}" tabindex="-1" aria-labelledby="deleteUserModalLabel-${UserName}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModalLabel-${UserName}">Xác nhận xóa người dùng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa người dùng: <strong>${UserName}</strong> không?
                </div>
                <div class="modal-footer">
                    <form method="post" action="/Users/Delete/${Id}">
                        <input type="hidden" name="UserName" value="${Id}" />
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div> *@


    <a href="/Users/Delete/${Id}" class="btn btn-danger mb-1 d-block"><i class="bi bi-trash"></i> Xóa</a>

    <a href="/Users/Details/${Id}" class="btn btn-info mb-1 d-block"><i class="bi bi-info-circle"></i> Chi tiết</a>
</script>

<script id="template1" type="text/x-template">
    <div class="image w-50 rounded-3">
        <img class="img-fluid" src="${AvatarUrl}" />
    </div>
</script>
